@use "../abstracts" as *;
/*=============== LISTES DES PLATS ===============*/

@mixin card-design($kolera) {
    @include card-background($kolera);
    @include dimension(100%, 130px);
    border-radius: 20px;
    box-shadow: $box-shadow;
    display: flex;
    position: relative;
    padding: 20px;
    outline: none;
    cursor: pointer;
    animation: fadeIn 0.6s ease-out forwards;
    figure {
        width: 140px;
        @include position-absolute(auto, -30px, auto, auto, auto);
        transition: $transition;
    }
    .text {
        margin-left: 180px;
        color: $primary-color;
        h2 {
            font-size: 20px;
            font-weight: 600;
        } 
        p {
            margin-top: 20px;
            span {
                font-size: 10px;
                opacity: .5;
            }
        }
    }

    &:hover {
        transform: translateX(30px);
        figure {
            width: 170px;
            transform: rotate(-30deg);
            z-index: 99999999999999999999;
        }
    }
}