@keyframes fall {
    0% {
      transform: translateY(-100vh) rotate(5deg);
      opacity: 0;
    }
    60% {
      transform: translateY(20px) rotate(2deg);
      opacity: 1;
    }
    80% {
      transform: translateY(-10px) rotate(0deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin floatingImage() {
    position: absolute;
    opacity: 0.8;
    transition: transform 3s ease-in-out;
    animation: floatAnimation 5s infinite alternate ease-in-out;

    &.img1 {
        width: 100px;
        top: -100px;
        left: 100px;
        animation-delay: 0s;
        z-index: 3;
    }

    &.img2 {
        width: 100px;
        top: 100px;
        left: -90px;
        animation-delay: 0.5s;
    }

    &.img3 {
        width: 160px;
        top: -80px;
        right: -160px;
        animation-delay: 1s;
    }

    &.img4 {
        width: 230px;
        bottom: -90px;
        left: -90px;
        animation-delay: 1.5s;
    }

    &.img5 {
        width: 130px;
        bottom: -70px;
        right: -40px;
        animation-delay: 2s;
        z-index: 3;
    }

    &.blur {
        filter: blur(4px);
    }
}

@keyframes floatAnimation {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  100% {
      transform: translateY(20px) rotate(5deg);
  }
}